# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# UI Ignore

school-ui/node_modules
school-ui/.pnp
school-ui/.pnp.*
school-ui/.yarn/*
school-ui/!.yarn/patches
school-ui/!.yarn/plugins
school-ui/!.yarn/releases
school-ui/!.yarn/versions
school-ui/coverage
school-ui/.next/
school-ui/out/
school-ui/build
school-ui/.DS_Store
school-ui/*.pem
school-ui/npm-debug.log*
school-ui/yarn-debug.log*
school-ui/yarn-error.log*
school-ui/.pnpm-debug.log*
school-ui/.env*
school-ui/.vercel
school-ui/*.tsbuildinfo
school-ui/next-env.d.ts



school-api/node_modules





